.sidebaradmin__logo__m1 {
  color: #17782c;
}

.sidebaradmin__logo__m2 {
  color: #349275;
}

.sidebaradmin__logo {
  height: 200px;
  object-fit: contain;
  width: 100%;
}

.sidebaradmin__text {
  color: black;
  margin-top: .2rem;
  padding: .6rem;
  border-radius: 5px;
}

.sidebaradmin__sidebaritem:hover{
background-color: rgb(21,128,61);
}

.sidebaradmin__sidebaritem:hover .sidebaradmin__text{
 color: white;
}

.sidebaradmin__sidebaritemActive{
  background-color: rgb(21,128,61);
}

.sidebaradmin__sidebaritemActive .sidebaradmin__text{
 color: white!important;
}