.forgotpassword__border__radius {
  border-radius: 5px !important;
}
.forgotpassword__border__radius:hover {
  border-color: #006523 !important;
}

.forgotpassword__border__radius:focus {
  border-color: #006523 !important;
}
.forgotpassword__border__button:hover {
  border-color: #006523 !important;
  color: white;
  background-color: #006523 !important;
}

.forgotpassword__border__button {
  border-radius: 5px !important;
}

.forgot__logo__m1 {
  color: #17782c;
}

.forgot__logo__m2 {
  color: #349275;
}

.forgotpassword__login__button:hover {
  color: rgb(6, 56, 6) !important;
}

.forgotpassword__login__button {
  color: #006523!important;
}
