.exportgoodsdetail__table__striped tr:nth-child(even){
    background: #f2f2f2;
}

  
  .exportgoodsdetail__border__confirm:focus {
    border-color: lightgray !important;
    color: black !important;
  }
  
  .exportgoodsdetail__border__confirm:hover {
    border-color: #166534 !important;
    color: white;
    background-color: #166534 !important;
  }
  
  .exportgoodsdetail__border__confirm {
    border-radius: 5px !important;
  }

  
  .exportgoodsdetail__border__cancel:focus {
    border-color: lightgray !important;
    color: black !important;
  }
  
  .exportgoodsdetail__border__cancel:hover {
    border-color: #c71606!important;
    color: white;
    background-color: #c71606 !important;
  }
  
  .exportgoodsdetail__border__cancel {
    border-radius: 5px !important;
  }

  .exportgoodsdetail__border__edit:focus {
    border-color: lightgray !important;
    color: black !important;
  }
  
  .exportgoodsdetail__border__edit:hover {
    border-color: #ca7806!important;
    color: white;
    background-color: #ca7806 !important;
  }
  
  .exportgoodsdetail__border__edit {
    border-radius: 5px !important;
  }