.exportgoods__table__striped tr:nth-child(even){
    background: #f2f2f2;
}
.exportgoods__filter__button{
    border: 1px solid lightgray!important;
    height: 2.2rem;
}

.exportgoods__filter__button:hover{
    background: lightgray!important;
    color: white;
}

.exportgoods__filter__button:focus{
    color: black;
}