@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  line-height: 0;
  overflow-x: hidden;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
>>>>>>> OrderProducts
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Helvetica Neue", sans-serif !important;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  content: "";
  text-align: center;
  opacity: 0 !important;
  color: none;
  -webkit-font-smoothing: antialiased;
}

.slick-dots li.slick-active button:before {
  opacity: 0 !important;
  color: black;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  content: "";
  text-align: center;
  opacity: 0;
  color: none;
  -webkit-font-smoothing: antialiased;
}

.ant-carousel .slick-dots li button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3px;
  padding: 0;
  color: transparent;
  font-size: 0;
  background: #000;
  border: 0;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.5s;
}

.ant-carousel .slick-dots {
  position: absolute;
  right: 0;
  bottom: 10;
  left: 0;
  z-index: 15;
  display: flex !important;
  justify-content: center;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.ant-carousel img {
  object-fit: cover;
}

.ant-checkbox-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: green !important;
  border-color: green !important;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}

.ant-checkbox:hover .ant-checkbox-inner {
  border-color: green !important;
}

.ant-checkbox-checked::after {
  border-color: green !important;
}

.swal2-styled {
  box-shadow: none !important;
}

.swal2-styled.swal2-confirm {
  background-color: rgb(22, 163, 74) !important;
}

.ant-tooltip-inner {
  background-color: white;
  color: black;
  box-shadow: none;
}

.ant-tooltip-inner::after {
  content: "đ";
}

.ant-tooltip-placement-top {
  top: 500px !important;
}

.ant-tooltip-arrow {
  width: 0px;
  height: 0px;
}

.ant-tooltip-arrow-content::before {
  background: white !important;
}

.ant-slider-track {
  background-color: black !important;
  transition: black 0.3s;
}

.ant-slider-handle.ant-tooltip-open {
  border-color: black;
  background: black;
}

.ant-slider-handle.ant-tooltip-open:hover .ant-slider-track {
  background: black !important;
}

.ant-slider-handle:focus {
  box-shadow: none;
}

.ant-slider-rail {
  background-color: #c0c0c0 !important;
}

.ant-slider:hover .ant-slider-rail {
  background-color: #c0c0c0 !important;
}

.ant-tabs-ink-bar {
  border-bottom: solid #166534 !important;
}

.ant-tabs-tab {
  font-size: 1.1rem;
}

.ant-tabs-tab:hover {
  color: #166534 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #166534 !important;
  font-weight: bold;
}

.ant-btn-primary {
  color: white !important;
  background-color: #1890ff!important;
  border-color: #1890ff !important;
}

.ant-modal {
  top: 10px;
}

.ant-pagination-item-active{
  border-color: #0c6e21;
}

.ant-pagination-item:hover{
  border-color: #0c6e21;
}

.ant-pagination-item:focus{
  color: #0c6e21;
}

.ant-pagination-next:hover{
  border-color: #0c6e21!important;
}

.ant-pagination-item-link:hover{
  border-color: #0c6e21!important;
}

.ant-pagination-item-link:hover{
  color: #0c6e21!important;
}

.ant-checkbox-input:hover{
  border-color: #0c6e21!important;
}

.ant-checkbox-wrapper:hover{
  border-color: #0c6e21!important;
}


.ant-modal-mask{
  background-color: rgba(0,0,0,0.1);
}
