@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Helvetica Neue', sans-serif!important;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-checkbox-checked .ant-checkbox-inner{
  background-color: green!important;
  border-color: green!important;
}
.ant-checkbox:hover .ant-checkbox-inner{
  border-color: green!important;
}

.ant-checkbox-checked::after{
  border-color: green!important;
}

.swal2-styled{
  box-shadow: none!important;
}
